* {

background-color: black;
color: lightcyan;
text-align: center;

}
.text{
    font-family: 'Baloo 2', cursive;
font-family: 'IBM Plex Mono', monospace; 
    font-weight:400;
    font-style: italic;
    line-height: 25px;
    /* font-size: 16px; */
}
h1{
    font-family: 'IBM Plex Mono', monospace;
    line-height: 100px;
}
.hinditext{
    font-family: 'Baloo 2', cursive;
font-family: 'IBM Plex Mono', monospace;
font-family: 'Tiro Devanagari Hindi', serif;
}
#firstpara{

color: #e02844;

}
#secondpara{

color: rgb(127, 255, 212);

}
#thirdpara{

    color: rgba(67, 186, 241, 0.9)

}
#footer{
    color: hsla(355, 75%, 52%, 1);
}